[submodule "pico-examples"]
	path = pico-examples
	url = https://github.com/boberace/pico-examples.git
[submodule "micro_ros_raspberrypi_pico_sdk"]
	path = micro_ros_raspberrypi_pico_sdk
	url = https://github.com/micro-ROS/micro_ros_raspberrypi_pico_sdk.git
[submodule "loramac-node"]
	path = loramac-node
	url = https://github.com/lora-net/loramac-node.git
